/* colors */
body {
    --bg-color: white; --text-color: #202020; --text-rgb: 0 0 0;
    --emph-color: #101010; --dim-color: #888;
    --link-color: #1a0dab; --vlink-color: #681da8;
    --text-danger: #dc3545; --text-warning: #ff9705; --text-success: #198754;
    --bg-danger: #ff00001a; --bg-warning: #ff96001a; --bg-success: #00ff001a;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #1b1e20; --text-color: #c8c8c8; --text-rgb: 255 255 255;
        --emph-color: #e4e4e4;
        --link-color: #8ab4f8; --vlink-color: #c58af9;
        --text-danger: #e74c3c; --text-warning: #f39c12; --text-success: #00bc8c;
    }
}

/* generic */
html {
    font-family: sans-serif;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.4;
    font-size: 1.1em;
    --border-radius: 0.25rem;
    --medium-tint: color-mix(in srgb, currentColor 5%, transparent);
    --heavy-tint: color-mix(in srgb, currentColor 10%, transparent);
    --outer-margin: 0.5rem;
    --inner-margin: 0.25rem;
}
a:not(:hover) {
    text-decoration: none;
}
a {color: var(--link-color);}
a:visited {color: var(--vlink-color);}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: initial;
    color: var(--emph-color);
}
.hidden {
    display: none !important;
}
.danger {
    color: var(--text-danger);
    background-color: var(--bg-danger);
}
.success {
    color: var(--text-success);
    background-color: var(--bg-success);
}
.warning {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}
strong, em {
    color: var(--emph-color);
}

/* exoskeleton */
html, body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: var(--outer-margin);
    flex: 1;
}
#drop-target, noscript, body > footer, #pp-json {
    margin: var(--outer-margin);
}
#drop-target, noscript {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: var(--dim-color);
}
#drop-target {
    flex: 1;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px dashed currentColor;
}

details {
    border: 1px solid var(--dim-color);
    border-radius: var(--border-radius);
    padding: calc(var(--outer-margin));
    margin: var(--outer-margin);
}
details > summary {
    cursor: pointer;
}

/* messages */
#msg-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
#msg-list > li {
    display: flex;
    border-radius: var(--border-radius);
    margin: var(--outer-margin);
    overflow: hidden;
}
.msg-text {
    flex-grow: 1;
    padding: 0.6em 1em;
    white-space: pre-line;
}
.close-btn {
    font-size: 1.5em;
    flex-grow: 0;
    width: 1.75em;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}
.close-btn::before {
    content: "×";
}
.close-btn:hover, .back-btn:hover {
    background-color: var(--medium-tint);
}
.close-btn:active, .back-btn:active {
    background-color: var(--heavy-tint);
}

/* endoskeleton */
.trip {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: var(--outer-margin);
}
.ride, .layover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: var(--border-radius);
}
.ride {
    background-color: var(--medium-tint);
}
.ride-head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: var(--inner-margin);
    border-bottom: 1px solid var(--heavy-tint);
}
.ride-type, .ride-carrier, .ride-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--inner-margin);
}
.ride-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--inner-margin);
}
.layover > .ride-body {
    align-self: center;
}
.loctime, .ride-dur {
    margin: var(--inner-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ride-dur {
    margin: var(--outer-margin);
}
.ride-dur::after {
    content: "⟶";
    font-size: 2em;
    line-height: 0.5;
}
.layover .ride-dur {
    flex-direction: row;
}
.layover .ride-dur::after {
    transform: rotate(90deg);
}
.loctime-where {
    font-size: 1.2em;
}
.loctime-point {
    font-size: 0.9em;
    color: var(--dim-color);
}
.ride-type::before {
    font-size: 1.2em;
}
.ride-type-flight::before {
    content: "✈️";
}
.ride-type-bus::before {
    content: "🚍";
}
.ride-type-train::before {
    content: "🚆";
}
.ride-type-metro::before {
    content: "🚇";
}
.ride-type-car::before {
    content: "🚘";
}
.ride-type-taxi::before {
    content: "🚖";
}
